@import "primereact/resources/themes/md-dark-deeppurple/theme.css";

.home-container {
  background-color: #121212; // Cor de fundo escura do tema
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.home-title {
  color: #ffffff; // Cor do texto branca do tema
  font-size: 24px;
  margin-bottom: 20px;
}

.filter-buttons {
  margin-bottom: 20px;

  button {
    background-color: #7e57c2; // Cor primária do tema
    color: #ffffff; // Cor do texto branca do tema
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #673ab7; // Cor primária escura ao passar o mouse
    }

    &.active {
      background-color: #512da8; // Cor de fundo do botão ativo
    }
  }
}

.tasks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  .task-card {
    background-color: #212121; // Cor de fundo dos cards
    border: 1px solid #424242; // Cor da borda
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
